[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "foodingraph"]
	path = foodingraph
	url = https://github.com/vgasque/foodingraph
